{{ define "base" }}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>{{ block "title" . }}Default Title{{ end }}</title>
        <link rel="stylesheet" href="/static/css/out.css"/>

        {{ block "head" . }}{{ end }}
    </head>
    <body>
    <header>
        <!-- Common header content -->
    </header>

    <main>
        {{ block "content" . }}
            <p>Default content - this will be replaced</p>
        {{ end }}
    </main>

    <footer>
        <!-- Common footer content -->
    </footer>

    {{/*    {{ block "scripts" . }}{{ end }}*/}}
    </body>
    </html>
{{ end }}